[submodule "TensorRT-LLM"]
	path = TensorRT-LLM
	url = https://github.com/NVIDIA/TensorRT-LLM.git
[submodule "scripture_models"]
	path = scripture_models
	url = https://github.com/dhruvildarji/scripture_models.git
